body {
    background-color: whitesmoke;
}

.form-control {
    border            : 1px solid #e0e0e0;
    border-radius     : 0;
    box-shadow        : none;
    -webkit-box-shadow:none;
    margin-bottom     : 20px;
}

.input-group .form-control {
    display: initial;
    margin : 0 3px;
}

.main {
    margin: 10px;
}

.table.table-hover {
    margin-bottom: 0px;
    background-color: lightgrey;
}

#overview > div {
    padding: 15px;
    background-color: white;
}
#overview table tbody tr {
    cursor: pointer;
}

.btn.btn-success {
    text-transform: uppercase;
}

.btn.btn-success:after {
    font-family : 'Glyphicons Halflings';
    content     : '\e080';
    padding-left: 5px;
    position    : relative;
    top         : 1px;
    font-size   : 90%;
}