body {
    background-color: whitesmoke;
}

.main {
    margin: 10px;
}

.control-label.required:after {
    content: ' *';
    color  : red;
}
.form-control {
    border            : 1px solid #e0e0e0;
    border-radius     : 0;
    box-shadow        : none;
    -webkit-box-shadow:none;
    margin-bottom     : 20px;
    display           : initial;
    margin            : 0 3px 20px 0;
}

.btn.btn-success {
    text-transform: uppercase;
}

.btn.btn-back:before, .btn.btn-success:after {
    font-family : 'Glyphicons Halflings';
    position    : relative;
    top         : 1px;
    font-size   : 90%;
}
.btn.btn-success:after {
    content     : '\e080';
    padding-left: 5px;
}
.btn.btn-back:before {
    content      : '\e079';
    padding-right: 5px;
}

.no-padding {
    padding: 0px !important;
}
